body{
    background-image: linear-gradient(to bottom right, red, yellow);
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-size: 60px;
    color: rgb(38, 0, 255);
}

#text1{
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#text2{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botó{
    text-align: center;
}

button{
    font-size: 270%;
    padding: 1%;
    font-weight: bolder;
    border-radius: 35%;
    border: 2px solid green;
    background-color: rgb(255, 0, 179);
}

button:hover{
    background-color: olive;
    border: 2px solid orchid;
}

#random{
    text-align: right;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#img{
    text-align: right;
}

#textseg{
    text-align: right;
}
#botó2{
    text-align: right;
}
